<div class="w-[90%] mx-auto flex flex-col gap-4 mt-20">
  <div class="w-full flex items-center  justify-center mb-[100px]">
    <div class="w-[30%] flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-6 w-6"
      [ngStyle]="{'color':colorTimelineStep1}"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
      <div class="w-full h-[1px]" [ngStyle]="{'background-color':colorTimelineStep1}">
    </div>

    </div>
    <div class="w-[30%] flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-6 w-6"
        [ngStyle]="{'color':colorTimelineStep2}"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
      <div class="w-full h-[1px]" [ngStyle]="{'background-color':colorTimelineStep2}">
      </div>

    </div>
    <div class="w-[30%] flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-6 w-6"
        [ngStyle]="{'color':colorTimelineStep3}"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
      <div class="bg-indigo-400 w-full h-[1px]" [ngStyle]="{'background-color':colorTimelineStep3}">
      </div>

    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-6 w-6">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
    </div>

  </div>
  @if (this.isStep1){
    <div class="pb-12" [formGroup]="formclientStep1" >
      <h2 class="text-base/7 font-semibold text-gray-900">{{'agent.addClient.title' | translate}}</h2>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.firstname' | translate}}</label>
          <div class="mt-2">
            <input formControlName = "fname" type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.lastname' | translate}}</label>
          <div class="mt-2">
            <input formControlName = "lname"  type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.email' | translate}}</label>
          <div class="mt-2">
            <input (focus)="changeError()"  formControlName = "email" id="email"  name="email" type="email" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
          @if (this.alertMessageForEmail){
            <span class="text-red-500 text-[15px]">{{'event.emailExist' | translate }}</span>
          }
        </div>
        <div class="sm:col-span-3">
          <label for="confirmEmail" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.confirmEmail' | translate}}</label>
          <div class="mt-2">
            <input formControlName = "confirmEmail" id="confirmEmail" name="email" type="email" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900  outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
          @if (this.alertMessageForEmail){
            <span class="text-red-500 text-[15px]">{{'event.emailExist' | translate }}</span>
          }
        </div>
      </div>
      <div class="flex items-center justify-end mt-6">
        <button class="btn btn-primary" (click)="step1()">
          @if(!this.responseExist){
            {{'agent.addClient.button' | translate}}
          }
          @else{
            <span class="text-white flex items-center gap-2">{{'event.loading' | translate}}</span>
          }

        </button>
      </div>
    </div>
  }
  @if (this.isStep2){
    <div class="pb-12" [formGroup]="formclientStep2">
      <h2 class="text-base/7 font-semibold text-gray-900">{{'agent.addClient.title' | translate}}</h2>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6" >
        <div class="sm:col-span-3">
          <label for="phone" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.phone' | translate}}</label>
          <div class="mt-2">
            <input formControlName ="phone" type="number"  id="phone" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="address" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.address' | translate}}</label>
          <div class="mt-2">
            <input formControlName ="address" type="text"  id="address" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.identityDocument' | translate}}</label>
          <div class="mt-2">
            <select formControlName ="IdentityDocument" class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              <option value="CIN" [selected]="true">CIN</option>
              <option value="Passport">Passport</option>
            </select>

          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="numberIdentityDocument" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.numberIdentityDocument' | translate}}</label>
          <div class="mt-2">
            <input  formControlName ="NIdentityDocument"  id="numberIdentityDocument" name="numberIdentityDocument" type="text" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
      </div>
      <div class="flex items-center justify-end mt-6 gap-4">
        <button class="btn btn-active" (click)="backStep1()">{{'agent.addClient.back' | translate}}</button>
        <button class="btn btn-primary" (click)="step2()">{{'agent.addClient.button' | translate}}</button>
      </div>
    </div>
  }

  @if (this.isStep3){
    <div class="pb-12" [formGroup]="formclientStep3">
      <h2 class="text-base/7 font-semibold text-gray-900">{{'agent.addClient.title' | translate}}</h2>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="Numero de patente" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.TaxIdentificationNumber' | translate}}</label>
          <div class="mt-2">
            <input formControlName ="TaxIdentificationNumber" type="number"  id="Numero de patente" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="dateNaissance" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.dateNaissance' | translate}}</label>
          <div class="mt-2">
            <input formControlName ="dateBirth"   type="date"  id="dateNaissance" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="CommercialRegisterRegistrationNumber" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.CommercialRegisterRegistrationNumber' | translate}}</label>
          <div class="mt-2">
            <input formControlName ="CommercialRegisterRegistrationNumber"  id="CommercialRegisterRegistrationNumber" name="numberIdentityDocument" type="text" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="file" class="block text-sm/6 font-medium text-gray-900">{{'agent.addClient.numberIdentityDocument' | translate}}</label>
          <div class="mt-2">
            <input (change)="OnSelectedFile($event)"  id="file" name="numberIdentityDocument" type="file"  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
      </div>
      <div class="flex items-center justify-end mt-6 gap-4">
        <button class="btn btn-active" (click)="backStep2()">{{'agent.addClient.back' | translate}}</button>
        <button  class="btn btn-success text-white"  (click)="create()">

          @if(this.responseExist){
            <span class="text-white flex items-center gap-2">{{'event.loading' | translate}}</span>
          } @else {
            {{'agent.addClient.createClient' | translate}}
          }
        </button>
      </div>
    </div>
  }
</div>
