<div class="w-[80%] mx-auto flex flex-col gap-4 pb-10">
  <h1 class="text-center font-bold text-3xl"># Edit Section</h1>
  <p class="text-center mt-1 text-gray-400 text-xl w-[80%] mx-auto">
    The client maintains stable finances with regular transactions and timely payments. Their profile reflects good creditworthiness and responsible management.
  </p>
  <div class="w-full mt-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">First Name</th>
          <th scope="col" class="px-6 py-3">Last Name</th>
          <th scope="col" class="px-6 py-3">Account</th>
          <th scope="col" class="px-6 py-3">Bank Card</th>
          <th scope="col" class="px-6 py-3">Temporary Card</th>
          <th scope="col" class="px-6 py-3 ">Actions</th>
        </tr>
        </thead>
        <tbody class="py-10">
        <tr class="bg-white border-b  dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Tarik
          </th>
          <td class="px-6 py-4">Belaid</td>
          <td class="px-6 py-4">Hssab 1</td>
          <td class="px-6 py-4">
            <span class="badge badge-success text-white">Activated</span>
          </td>
          <td class="px-6 py-4">
            <span class="badge badge-warning text-white">Not activated</span>
          </td>
          <td class="px-6 py-4 flex gap-2">
            <button (click)="addTemporaryCardByAgent()" routerLink="addCard" class="text-[13px] btn btn-outline btn-sm">Add Temporary Card</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
