<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="font-sans">
<div class="max-w-4xl mx-auto my-8 p-6  shadow-lg rounded-lg w-[90%] mx-auto">
    <!-- Header -->
    <div class="border mb-3  text-center  rounded-t-lg " style="background: #D76C58;border-radius: 10px">
        <h1 class="text-3xl  font-semibold bg-black " style="padding: 20px;color: white; font-size: 20px;font-weight: bold;text-align: center;">Reset Password</h1>
    </div>

    <!-- Main Content -->
    <div class="p-6 border " style="padding: 20px">
        <p class="text-lg text-gray-800 mb-3">Hello,</p>
        <p class="mt-2 text-gray-600 mb-3">We received a request to reset the password for your account. To ensure the security of your account, please follow the instructions below:</p>

        <!-- OTP Section -->
        <div class="mt-6 mb-3">
            <h2 class="text-xl font-semibold text-gray-800 mb-3">OTP:</h2>
            <div class="mt-2  bg-amber-200 text-center text-2xl font-bold text-gray-800 rounded-lg" style="padding: 20px;letter-spacing: 20px;font-size: 40px">
               {{otp}}
            </div>
        </div>

        <p class="mt-4 text-gray-600 mb-3">If you have any questions or need assistance, please do not hesitate to contact us at [Support Email] or visit our support page: <a href="[Support Page Link]" class="text-indigo-600 hover:text-indigo-700">Support Page</a>.</p>

        <p class="mt-4 text-gray-600 mb-3">We look forward to your positive response and working together!</p>
        <div class="bg-gray-100 text-center py-4 mt-2 rounded-b-lg">
            <p class="text-gray-700" style="color: blue">The Fitness Team</p>
            <p class="text-gray-600 mt-2"  style="color: blue">[Contact Information] | <a href="[Support Page Link]" class="text-indigo-600 hover:text-indigo-700">Links to Support and Help Pages</a></p>
        </div>
    </div>



</div>
</body>
</html>