<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulations , Welcome to Our FlowPay digital Bank 100% online </title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>

<!--<body class="font-sans" style="box-shadow: 0px 0px 12px gray;border: 1px solid lightgray;border-radius: 10px;width: 80%;margin: auto">
<div >
    &lt;!&ndash; Header &ndash;&gt;
    <div >
        <h1 class="text-3xl  font-semibold" style="padding:15px 20px ;color: white; font-size: 20px;font-weight: bold;text-align: center;background: black;">Congratulations , Welcome to Our FlowPay digital Bank 100% online </h1>
    </div>

    &lt;!&ndash; Main Content &ndash;&gt;
    <div class="p-6 border " style="padding: 30px">
        <p class="text-lg text-gray-800 mb-3">Dear {{clientName}},</p>
        <p class="mt-2 text-gray-600 mb-3">Thank you for registering with <span style="font-size:16px;font-weight: bold;color: blueviolet">FlowPay Bank</span>. We’re excited to have you on board! Below are your account details:</p>

        &lt;!&ndash; Details client   Section &ndash;&gt;
        <div class="mt-6 mb-3">
            <h2  style="color: slategray;font-size: 15px">
                Username : <span>{{usernameClient}}</span>
            </h2>
            <h2 style="color: slategray;font-size: 15px">
                Password : <span style="text-decoration: underline;color: dodgerblue">{{PasswordClient}}</span>
            </h2>
        </div>

        <p class="mt-4 text-gray-600 mb-3">If you have any questions or need assistance, please do not hesitate to contact us at [Support Email] or visit our support page: <a href="[Support Page Link]" class="text-indigo-600 hover:text-indigo-700">Support Page</a>.</p>

        <p class="mt-4 text-gray-600 mb-3">We look forward to your positive response and working together!</p>
        <div class="bg-gray-100 text-center py-4 mt-2 rounded-b-lg">
            <p class="text-gray-700" style="color: blue">The FlowPay Team</p>
            <p class="text-gray-600 mt-2"  style="color: blue">[Contact Information] | <a href="[Support Page Link]" class="text-indigo-600 hover:text-indigo-700">Links to Support and Help Pages</a></p>
        </div>
    </div>



</div>
</body>-->
<body>
<section style="max-width: 42rem; padding: 2rem 1.5rem; margin: 0 auto; background-color: #ffffff; color: #111827; font-family: Arial, sans-serif;">
    <header style="text-align: center; margin-bottom: 2rem;">
        <div  style="display: flex;align-items: center;gap: 7px;text-decoration: none">
            <img style="height: 3rem; width: auto;" src="https://space.bouncewatch.com/images/297576/flowpay-logo.jpg" alt="Meraki UI Logo">
            <span style="margin-left:10px;color: #5bc0ed;font-weight: bold;font-size: 30px;font-family: sans-serif">FlowPay</span>
        </div>
    </header>

    <main>
        <h2 style="color: #374151; font-size: 1.5rem; margin-bottom: 1rem;">
            Hi {{clientName}},
        </h2>

        <p style="line-height: 1.6; color: #4b5563; margin-bottom: 2rem;">
            Thank you for registering with <span style="font-size: 16px; font-weight: bold; color: #5bc0ed;text-decoration: underline">FlowPay Bank</span>. We’re excited to have you on board! Below are your account details:
        </p>

        <div >
            <p style="display: flex;align-items: center;gap: 5px;color: #4b5563">
                <span style="text-decoration: underline;">username </span> : <span>{{usernameClient}}</span>
            </p>
            <p style="display: flex;align-items: center;gap: 5px;margin-top: 5px;color: #4b5563">
                <span style="text-decoration: underline;">password </span> : <span>{{PasswordClient}}</span>
            </p>
        </div>

        <p style="line-height: 1.6; color: #4b5563; margin-bottom: 2rem;">
            If you have any questions, feel free to reach out to us. We're here to help and support you every step of the way.
        </p>

        <p style="line-height: 1.6; color: #4b5563;">
            Thanks, <br>
            FlowPay team
        </p>
    </main>

    <footer style="margin-top: 2rem; font-size: 0.875rem; color: #6b7280; line-height: 1.6;">
        <p>
            This email was sent to
            <a href="mailto:contact@FlowPay.com" style="color: #2563eb; text-decoration: underline;">contact&#64;flowpayonline.com</a>.
            If you'd rather not receive this kind of email, you can
            <a href="#" style="color: #2563eb; text-decoration: underline;">unsubscribe</a> or
            <a href="#" style="color: #2563eb; text-decoration: underline;">manage your email preferences</a>.
        </p>
        <p style="margin-top: 1rem;">
            ©  FlowPay UI. All Rights Reserved.
        </p>
    </footer>
</section>



</body>
</html>