<div class="w-[90%] mx-auto flex flex-col gap-[60px]">
  <div class="flex items-center justify-between">
    <div class="w-[60%]">
      <h1 class="text-[30px] font-semibold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">Simplify Your Online Bill Payments</h1>
      <p class="w-[80%] text-gray-500 leading-7 ">FlowPay offers a seamless platform for online bill payments, providing a user-friendly interface that ensures fast and secure transactions. With support for multiple payment methods and real-time tracking, it simplifies managing your finances. Accessible across devices, FlowPay makes paying bills easy, anytime and anywhere.</p>
    </div>
    <div>
      <img class="w-[480px] rounded-full shadow-sm" src="images/payBills.jpg">
    </div>
  </div>
  <div class="grid grid-cols-2 items-center justify-between w-full">
    <div >
      <img class="w-[480px] h-[300px] rounded-full shadow-sm" src="images/transaction.jpg">
    </div>
    <div class="">
      <h1 class="text-[30px] font-semibold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">Effortless Money Transactions Anytime</h1>
      <p class="text-gray-500 leading-7 ">FlowPay simplifies online money transactions with speed, security, and convenience. Whether you’re managing bills, transferring funds, or tracking payments, FlowPay ensures a seamless and user-friendly experience across all devices.</p>
    </div>
  </div>

</div>


