<h1 class="text-center  font-medium text-3xl w-[50%] mx-auto leading-[60px]  text-[#0B74A0] ">{{'payment.rechargeTitle' | translate}}</h1>



<div class="w-[80%] mx-auto flex items-center justify-between mt-32">
  <div class="p-10 w-[50%] rounded-xl border border-gray-300">
    <form class="w-full max-w-lg" [formGroup]="form">
      <div class="flex flex-wrap -mx-3 mb-6">
        <!-- Type de recharge -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            {{'recharge.rechageType' | translate}}
          </label>
          <select class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required>
            <option value="internet">Internet</option>
            <option value="call">Appel</option>
          </select>
        </div>


        <!-- Montant de la recharge -->
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            {{'recharge.montant' | translate}}
          </label>
          <select formControlName="montant" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required>
            <option value="10" [selected]="true">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <!-- Vous pouvez ajouter d'autres valeurs ici -->
          </select>
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div  class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
            {{'recharge.phone' | translate}}
          </label>
          <input type="number" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="06/07 XXXXXXXXX" required />
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <!-- Mode de paiement -->
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            {{'recharge.choisir' | translate}}
          </label>
          <select formControlName="choixCompte"  class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required>
            <option value="compte bancaire" [selected]="true">{{'recharge.compteBancaire' | translate}}</option>
            <option value="carte virtuelle">{{'recharge.carteVirtuelle' | translate}}</option>
          </select>
        </div>
      </div>

     <!-- compte bancaire-->

      @if(this.form.get('choixCompte')?.value == "compte bancaire"){
        <div class="flex flex-wrap -mx-3 mb-6">
          <!-- Mode de paiement -->
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              {{'recharge.outilPaiement' | translate}}
            </label>
            <select  formControlName="rib"  class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required>
              <option value="main" [selected]="true">Choisir la carte bancaire</option>
             @if(clientData.accountDtoList){
               @for(rib of clientData.accountDtoList.slice(0, 3);track rib){
                 <option [value]="rib.iban">💳 {{rib.iban.substring(0, 10)+'*****************' + ' '+rib.device}}</option>
               }
             }
            </select>
          </div>
        </div>
      } @else {
        <div class="flex flex-wrap -mx-3 mb-6">
          <!-- Mode de paiement -->
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              {{'recharge.outilPaiement' | translate}}
            </label>
            <select formControlName="rib" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required>
              <option value="main" [selected]="true">Choisir la carte virtuelle</option>
              @if(clientData.tempraryCardDtos){
                @for(rib of clientData.tempraryCardDtos;track rib){
                  <option [value]="rib.iban">💳 {{rib.iban.substring(0, 10)+'*****************'}}</option>
                } @empty {
                  <option>No Temporary card</option>
                }
              }
            </select>
          </div>
        </div>
      }

    </form>
    <button (click)="accheteRecharge()" class="btn btn-info w-full mt-10">
      @if(this.responseExist){
        {{'event.loading' | translate}}
      } @else {
        {{'recharge.button' | translate}}
      }
       </button>
  </div>

  <div class="w-[40%]  rounded-xl">
    <img class="w-full ml-20  p-10 rounded-xl rotate-[-8deg]" src="https://www.lopinion.ma/photo/art/grande/75180835-52602959.jpg?v=1694537309">
  </div>
</div>

