<div class="w-[80%] mx-auto h-[100px]  border border-b-gray-200 rounded-xl shadow-sm">
  <div class="flex items-center justify-center h-full">
    <h1 class="anton-sc-regular text-gray-400 text-4xl">{{'LearMore.title' | translate}}</h1>
  </div>
  <div class="mt-10 flex flex-col items-center gap-4">
    <div tabindex="0" class="collapse collapse-plus border-base-300 bg-white border">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section1.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section1.desc' | translate}}</p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-plus border-base-300 bg-white border">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section2.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section2.desc' | translate}}</p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-plus border-base-300 bg-white border">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section3.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section3.desc' | translate}}</p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-plus border-base-300 bg-white border">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section4.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section4.desc' | translate}}</p>
      </div>
    </div>

  </div>
</div>
