<div class="w-full grid grid-cols-3 items-stretch gap-10">
  @for (card of clientData.tempraryCardDtos ;track  card){
    <div class="w-full h-[200px] grid grid-cols-1 gap-4  bg-gray-200 border rounded-xl p-6">
      <div class="flex items-center justify-between">
        <h1 class="font-medium ">{{card.choixCompte}}</h1>
        <h1 class="text-[12px] font-medium flex items-center justify-center  w-[30px] h-[30px]  border rounded-full border-black  p-4">{{card.choixCompte}}</h1>
      </div>
      <div class="w-full ">
        <h1 class="text-center text-xl font-medium text-opacity-[0.8]"> {{ card.solde | currency: card.choixCompte+' ' : true }}</h1>
      </div>
    </div>
  }



</div>
