<div class="w-[90%] mx-auto">
  <h1 class="text-2xl bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent font-semibold text-center mt-4">DO YOU HAVE ANY QUESTIONS?</h1>
  <div class="grid grid-cols-3 items-center justify-items-center  mt-10">
    <div class="p-[20px] w-[200px] h-[100px] cursor-pointer  border border-gray-300 rounded flex flex-col gap-6 items-center bg-[#FBFBFB]">
      <i class='bx bx-headphone scale-[2.3] '></i>
      <h1 class="text-center font-semibold">CALL US</h1>
    </div>
    <div class="p-[20px] w-[200px] h-[100px] cursor-pointer  border border-gray-300 rounded flex flex-col gap-6 items-center bg-[#FBFBFB]">
      <i class='bx bx-envelope scale-[2.3] '></i>
      <h1 class="text-center font-semibold">SEND US AN EMAIL</h1>
    </div>
    <div class="p-[20px] w-[200px] h-[100px] cursor-pointer  border border-gray-300 rounded flex flex-col gap-6 items-center bg-[#FBFBFB]">
      <i class='bx bx-map scale-[2.3] '></i>
      <h1 class="text-center font-semibold">FIND US</h1>
    </div>
  </div>
</div>
