<div class="w-[90%] mt-20 mx-auto ">
  <div class="flex items-center justify-center h-full">
    <h1 class="text-center font-medium text-[#232323] text-4xl w-[50%] mx-auto leading-[60px]">{{'LearMore.title' | translate}}</h1>
  </div>
  <div class="mt-20 flex flex-col items-center gap-4">
    <div tabindex="0" class="collapse collapse-plus border border-gray-200 bg-white">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section1.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section1.desc' | translate}}</p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-plus  bg-white border border-gray-200">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section2.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section2.desc' | translate}}</p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-plus  bg-white border border-gray-200">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section3.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section3.desc' | translate}}</p>
      </div>
    </div>
    <div tabindex="0" class="collapse collapse-plus  bg-white border border-gray-200">
      <div class="collapse-title text-[18px] text-gray-500 px-6">{{'LearMore.wl.section4.title' | translate}}</div>
      <div class="collapse-content">
        <p class="px-6">{{'LearMore.wl.section4.desc' | translate}}</p>
      </div>
    </div>

  </div>
</div>
