<div class="w-[90%] mx-auto flex flex-col gap-[60px] mt-[200px]">
 <!-- <div class="flex items-center justify-between">
    <div class="w-[60%]">
      <h1 class="text-[30px] font-semibold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">{{'features.part1.title' |translate}}</h1>
      <p class="w-[80%] text-gray-500 leading-7 ">{{'features.part1.subTitle' |translate}}</p>
    </div>
    <div>
      <img class="w-[480px] rounded-full shadow-sm" src="images/payBills.jpg">
    </div>
  </div>
  <div class="grid grid-cols-2 items-center justify-between w-full">
    <div >
      <img class="w-[480px] h-[300px] rounded-full shadow-sm" src="images/transaction.jpg">
    </div>
    <div class="">
      <h1 class="text-[30px] font-semibold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">{{'features.part2.title' |translate}}</h1>
      <p class="text-gray-500 leading-7 ">{{'features.part2.subTitle' |translate}}</p>
    </div>
  </div>-->

  <div class="w-full h-[600px] bg-[#E1F7F5] rounded-2xl relative">
    <img class="relative left-[50%] translate-x-[-50%] top-[-40%] w-[38%] " src="images/globe-small@2x.webp">
    <div class="relative bottom-[300px] w-[80%] mx-auto">
      <h1 class="text-center anton-sc-regular text-7xl text-accent">{{'features.part1.title1' |translate}}</h1>
      <h1 class="text-center anton-sc-regular text-7xl text-accent">{{'features.part1.title2' |translate}}</h1>
      <p class="text-center text-gray-400 text-2xl w-[60%] mx-auto mt-6">
        {{'features.part1.subTitle' |translate}}
      </p>
      <div class="flex items-center justify-center mt-6 ">
        <button routerLink="more" class="btn btn-accent w-[30%] rounded-full py-4">{{'features.part1.button' |translate}}</button>
      </div>
    </div>
  </div>
  <div class="mt-6 w-full flex items-center justify-between">
     <div class="w-[50%]">
       <h1 class="text-4xl mb-4 font-bold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">{{'features.part2.title' |translate}}</h1>
       <p class="text-gray-500 leading-7 text-xl">{{'features.part2.subTitle' |translate}}</p>
       <button routerLink="more" class="btn btn-outline w-[50%] rounded-full py-4 mt-6">{{'features.part1.button' |translate}}</button>
     </div>
    <div>
      <img src="images/lock-small@2x.webp">
    </div>
  </div>

</div>


