


<!--         version header    2         -->
<div class=" bg-gradient-to-br from-white  to-teal-50">
  <div class="bg-[#f7f7f7] w-full h-12 flex items-center justify-center ">
    <div class="flex items-center gap-20">
      <a (click)="goTo('header')" class="cursor-pointer hover:text-[#42bcec] duration-500">{{'nav.home' | translate}}</a>
      <a (click)="goTo('feature')" class="cursor-pointer hover:text-[#42bcec] duration-500">{{'nav.about' | translate}}</a>
      <a (click)="goTo('featureList')" class="cursor-pointer hover:text-[#42bcec]  duration-500">{{'nav.service' | translate}}</a>
      <a routerLink="contact" class="cursor-pointer hover:text-[#42bcec] duration-500">{{'nav.contact' | translate}}</a>
    </div>
  </div>
  <div class="w-[90%] mx-auto mt-20">
    <div class="grid grid-cols-2  w-full pb-2">
      <div class="w-full">
        <h1 class="text-[44px] font-semibold w-full">{{'header.title' | translate}}</h1>
        <p class="text-xl w-[80%] font-light text-gray-600 mt-2">{{'header.subTitle' | translate}}</p>
        @if(this.goToAgent){
          <button (click)="ajouterClient()"  class="btn btn-lg rounded-full px-20 mt-8 btn-primary" >{{'agent.account' | translate}}</button>
        } @else if (this.goToClient){
          <button (click)="transaction()"  class="btn btn-lg rounded-full px-20 mt-8 btn-primary" >{{'client.buttonTransactions' | translate}}</button>
        }
        @else {
          <button (click)="login()" class="btn btn-lg rounded-full px-20 mt-8 btn-primary">
            {{'header.login' | translate}}
          </button>
        }
        <div class="w-full mt-20 ">
          <ngx-slick-carousel class="bg-white shadow-sm border rounded-xl py-2"  [config]="slideConfig">
            <div ngxSlickItem >
              <div class="card w-full   p-5">
                <div class="w-[90%] mx-auto">
                  <h1 class="font-bold text-2xl">Hssab 1 : 200 MAD</h1>
                  <p class="text-gray-500 mt-2">{{'header.Hssab1.subTitle' | translate}}</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem >
              <div class="card w-full   p-5">
                <div class="w-[90%] mx-auto">
                  <h1 class="font-bold text-2xl">Hssab 2 : 10 000 MAD</h1>
                  <p class="text-gray-500 mt-2">{{'header.Hssab2.subTitle' | translate}}</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem >
              <div class="card w-full   p-5">
                <div class="w-[90%] mx-auto">
                  <h1 class="font-bold text-2xl">Hssab 3 : 15 000 MAD</h1>
                  <p class="text-gray-500 mt-2">{{'header.Hssab3.subTitle' | translate}}</p>
                </div>
              </div>
            </div>
            <div ngxSlickItem >
              <div class="card w-full   p-5">
                <div class="w-[90%] mx-auto">
                  <h1 class="font-bold text-2xl">Hssab 4 : 20 000 MAD</h1>
                  <p class="text-gray-500 mt-2">{{'header.Hssab4.subTitle' | translate}}</p>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <div class="w-[100%] flex items-center justify-end">
        <img class="w-[90%] h-full" src="images/VISUEL_22_46-r4-rvb_1__1_.webp">
      </div>
    </div>


  </div>
</div>



