<div class="relative">
  <div class="w-screen   flex top-[100px]   justify-center">
    <div class="relative flex flex-col items-center gap-7">
      <h1 class="text-[44px]  w-[80%] text-center ">Welcome to Our E-Banking Platform</h1>
      <p class="text-xl w-[80%] text-center">Experience seamless and secure online banking services at your fingertips. Manage your finances conveniently from anywhere, anytime.</p>
      <div class="flex items-center justify-center gap-3">
        <button class="btn btn-accent w-[80%]" (click)="login()">Sign in Now</button>
        <button class="btn btn-outline w-[80%]">Learn more</button>
      </div>
    </div>
  </div>

</div>


