<div class="mt-20">
  <h1 class="text-center font-medium text-[#232323] text-4xl w-[50%] mx-auto leading-[60px]">{{'features.partenaire.title' |translate}}</h1>
  <!--<p class="text-center mt-1 text-gray-500 text-xl">{{'features.partenaire.subTitle' |translate}}</p>-->
  <div class="w-[80%] mt-20 h-[60px] mx-auto flex items-center justify-between">
     <div class="cursor-pointer ">
       <img class="w-[120px]" src="images/maroctelecom.svg ">
     </div>
     <div class="cursor-pointer ">
       <img class="w-[140px]" src="images/lydec.jpg">
     </div>
     <div class="cursor-pointer">
       <img class="w-[140px]" src="images/amendis.png ">
     </div>
     <div class="cursor-pointer">
       <img class="w-[140px]" src="images/redal.jpg">
     </div>
     <div class="cursor-pointer">
       <img class="w-[150px]" src="images/inwi.webp">
     </div>
     <div class="cursor-pointer">
       <img class="w-[140px]" src="images/orange.jpg">
     </div>
  </div>

</div>
