<div class="w-full grid grid-cols-3 items-stretch gap-10">
  <div class="w-full h-[200px] grid grid-cols-1 gap-4 bg-[#e57408] rounded-xl p-6">
    <div class="flex items-center justify-between">
      <h1 class="text-white font-medium ">BTC</h1>
      <h1 class="text-white  font-medium flex items-center justify-center text-[20px] w-[30px] h-[30px]  border rounded-full border-white ">₿</h1>
    </div>
    <div class="w-full ">
      <h1 class="text-center text-[25px] font-medium text-white text-opacity-[0.8]">{{0 | currency:'₿ ':true}}</h1>
    </div>
    <div class=" w-full flex items-center justify-end gap-4">
      <button class="btn btn-sm btn-outline text-white">Depôt</button>
      <button class="btn btn-sm btn-outline text-white">Retrait</button>
    </div>
  </div>
  <div class="w-full h-[200px] grid grid-cols-1 gap-4 bg-[#6991b0] rounded-xl p-6">
    <div class="flex items-center justify-between">
      <h1 class="text-white font-medium ">ETH</h1>
      <h1 class="text-white  font-medium flex items-center justify-center text-[20px] w-[30px] h-[30px]  border rounded-full border-white ">♦</h1>
    </div>
    <div class="w-full ">
      <h1 class="text-center text-[25px] font-medium text-white text-opacity-[0.8]">{{0 | currency:'♦ ':true}}</h1>
    </div>
    <div class=" w-full flex items-center justify-end gap-4">
      <button class="btn btn-sm btn-outline text-white">Depôt</button>
      <button class="btn btn-sm btn-outline text-white">Retrait</button>
    </div>
  </div>
  <div class="w-full h-[200px] grid grid-cols-1 gap-4 bg-[#969696] rounded-xl p-6">
    <div class="flex items-center justify-between">
      <h1 class="text-white font-medium ">LTC</h1>
      <h1 class="text-white  font-medium flex items-center justify-center text-[20px] w-[30px] h-[30px]  border rounded-full border-white ">Ł</h1>
    </div>
    <div class="w-full ">
      <h1 class="text-center text-[25px] font-medium text-white text-opacity-[0.8]"><h1 class="text-center text-white">{{0 | currency:'Ł '}}</h1></h1>
    </div>
    <div class=" w-full flex items-center justify-end gap-4">
      <button class="btn btn-sm btn-outline text-white">Depôt</button>
      <button class="btn btn-sm btn-outline text-white">Retrait</button>
    </div>
  </div>
  <div class="w-full h-[200px] grid grid-cols-1 gap-4 bg-[] rounded-xl p-6">
    <div class="flex items-center justify-between">
      <h1 class="text-white font-medium ">BTC</h1>
      <h1 class="text-white  font-medium flex items-center justify-center text-[20px] w-[30px] h-[30px]  border rounded-full border-white ">₿</h1>
    </div>
    <div class="w-full ">
      <h1 class="text-center text-[25px] font-medium text-white text-opacity-[0.8]">{{0 | currency:'₿ ':true}}</h1>
    </div>
    <div class=" w-full flex items-center justify-end gap-4">
      <button class="btn btn-sm btn-outline text-white">Depôt</button>
      <button class="btn btn-sm btn-outline text-white">Retrait</button>
    </div>
  </div>
</div>
