<div class="w-[90%] mx-auto flex flex-col gap-[60px]">
  <div class="flex items-center justify-between">
    <div class="w-[60%]">
      <h1 class="text-[30px] font-semibold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">Open Your Account with Our Agent: Simple and Fast</h1>
      <p class="w-[80%] text-gray-500 leading-7 ">Our agent will guide you through the entire account creation process, ensuring a smooth and efficient experience. Whether you’re at home or on the go, you can easily provide the necessary documents and complete the process without visiting a bank branch.</p>
    </div>
    <div>
      <img class="w-[480px] rounded-full shadow-sm" src="images/agaent.jpg">
    </div>
  </div>

</div>


