<div>
  <h1 class="text-center text-4xl font-bold bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">{{'features.partenaire.title' |translate}}</h1>
  <p class="text-center mt-1 text-gray-500 text-xl">{{'features.partenaire.subTitle' |translate}}</p>
  <div class="w-[80%] mt-14 h-[60px] mx-auto flex items-center justify-between">
    <div class="cursor-pointer">
      <img class="w-[120px]" src="images/maroctelecom.svg ">
    </div>
    <div class="cursor-pointer">
      <img class="w-[140px]" src="images/lydec.jpg">
    </div>
    <div class="cursor-pointer">
      <img class="w-[140px]" src="images/amendis.png ">
    </div>
    <div class="cursor-pointer">
      <img class="w-[140px]" src="images/redal.jpg">
    </div>
    <div class="cursor-pointer">
      <img class="w-[150px]" src="images/inwi.webp">
    </div>
    <div class="cursor-pointer">
      <img class="w-[140px]" src="images/orange.jpg">
    </div>


  </div>

</div>
