<div class="navbar   bg-white w-[90%] mx-auto shadow-md rounded-2xl ">
  <div class="flex-1">
    <a class="text-[22px] font-bold ml-8 cursor-pointer">Flow<span class="text-accent">Pay</span></a>
  </div>
  <div class="flex items-center md:w-[60%] justify-between md:mr-8">
    <div class="md:flex md:items-center md:justify-end md:gap-10">
      <a class="cursor-pointer hover:text-accent duration-500">Home</a>
      <a class="cursor-pointer hover:text-accent duration-500">Wallet</a>
      <a class="cursor-pointer hover:text-accent  duration-500">Transactions</a>
      <a class="cursor-pointer hover:text-accent duration-500">Bills</a>
    </div>
    <div class="flex items-center  gap-8 relative">
      <!--<button class="btn btn-outline">Sign in</button>-->
      <!--<button (click)="select()">
        <img class="w-[40px] rounded" [src]="lang" >
      </button>
      @if(isSelected){
        <ul class="flex flex-col gap-3 absolute top-[60px] left-[-9px] bg-white shadow-lg rounded  p-[15px]">
          <li (click)="selectfR('fr')" class="cursor-pointer">
            <img class="w-[40px] rounded" src="https://img.freepik.com/vecteurs-libre/illustration-du-drapeau-france_53876-27099.jpg?semt=ais_hybrid">
          </li>
          <li (click)="selectfR('en')" class="cursor-pointer">
            <img class="w-[40px] rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/2560px-Flag_of_the_United_Kingdom_%283-5%29.svg.png">
          </li>
        </ul>
      }-->

      <button class="btn btn-accent" (click)="login()">Sign in</button>
    </div>
  </div>
</div>
