<div class="flex flex-col gap-20 relative">
  <div class="sticky top-2 z-[1]">
    <app-nav></app-nav>
  </div>
  @if (this.comm.addClient){
    <app-add-new-client></app-add-new-client>
  } @else if (this.comm.openAccount){
    <app-souscriptions></app-souscriptions>
  } @else if (this.comm.manageAccount){
    <app-consult-account></app-consult-account>
  }
  @else {
    <div class="mt-14" id="header">
      <app-hearder></app-hearder>
    </div>
    <div class="mt-14" id="feature">
      <app-feauture></app-feauture>
    </div>

    <div class="mt-14" id="featureList">
      <app-factures-lits></app-factures-lits>
    </div>
    <div class="mt-14" id="agent">
      <app-agent></app-agent>
    </div>
    <div class="mt-14" id="contact">
      <app-frequently-asked-questions></app-frequently-asked-questions>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  }



</div>
