<div class="flex flex-col gap-20 relative">
  <div class="sticky top-2 z-[1]">
    <app-nav></app-nav>
  </div>
  <div class="mt-14">
    <app-hearder></app-hearder>
  </div>
  <div class="mt-14">
     <app-feauture></app-feauture>
  </div>

  <div class="mt-14">
    <app-factures-lits></app-factures-lits>
  </div>
  <div class="mt-14">
    <app-agent></app-agent>
  </div>
  <div class="mt-14">
    <app-frequently-asked-questions></app-frequently-asked-questions>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
