<div class="w-[90%] mx-auto">
  <h1 class="text-4xl bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent font-bold  text-center mt-4 ">{{'contact.title' | translate}}</h1>
  <div class="grid grid-cols-3 items-center justify-items-center  mt-20">
    <div class="p-[20px] w-[200px] h-[100px] cursor-pointer  border border-gray-300 rounded flex flex-col gap-6 items-center ">
      <i class='bx bx-headphone scale-[2.3] '></i>
      <h1 class="text-center font-semibold">{{ 'contact.phone' | translate}}</h1>
    </div>
    <div class="p-[20px] w-[200px]  cursor-pointer  border border-gray-300 rounded flex flex-col gap-6 items-center ">
      <i class='bx bx-envelope scale-[2.3] '></i>
      <h1 class="text-center font-semibold">{{ 'contact.email' | translate}}</h1>
    </div>
    <div class="p-[20px] w-[200px] h-[100px] cursor-pointer  border border-gray-300 rounded flex flex-col gap-6 items-center ">
      <i class='bx bx-map scale-[2.3] '></i>
      <h1 class="text-center font-semibold">{{ 'contact.map' | translate}}</h1>
    </div>
  </div>
</div>
