<div class="w-[90%] mx-auto flex flex-col gap-[60px] mt-14">
  <div class="flex items-center justify-between">
    <div class="w-[60%]">
      <h1 class="text-4xl  font-bold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">{{'agentfeatures.title' |translate}}</h1>
      <p class="w-[80%] text-gray-500 leading-7 text-xl ">{{'agentfeatures.subTitle' |translate}}</p>
      <button routerLink="more" class="btn btn-outline w-[50%] rounded-full py-4 mt-6">{{'features.part1.button' |translate}}</button>
    </div>
    <div>
      <img class="w-[480px] rounded-full shadow-sm" src="images/agaent.jpg">
    </div>
  </div>

</div>


