<!--<div class="w-[90%] mx-auto flex flex-col gap-[60px] mt-14">
  <div class="flex items-center justify-between">
    <div class="w-[60%]">
      <h1 class="text-4xl  font-bold mb-2 bg-gradient-to-r from-blue-500 via-green-500 to-purple-500 bg-clip-text text-transparent">{{'agentfeatures.title' |translate}}</h1>
      <p class="w-[80%] text-gray-500 leading-7 text-xl ">{{'agentfeatures.subTitle' |translate}}</p>
      <button routerLink="more" class="btn btn-outline w-[50%] rounded-full py-4 mt-6">{{'features.part1.button' |translate}}</button>
    </div>
    <div>
      <img class="w-[400px] rounded-full shadow-sm" src="images/agaent.jpg">
    </div>
  </div>

</div>-->


<div class="w-full bg-gradient-to-br from-white  to-teal-50 py-4">
  <div class="w-[90%] mx-auto mt-28">
    <h1 class="text-center font-medium text-[#232323] text-4xl w-[50%] mx-auto leading-[60px]">{{'agentfeatures.title' |translate}}</h1>
    <div class="mt-20 grid grid-cols-3  gap-8 items-stretch justify-between w-full">
      <div class="w-full relative  grid grid-cols-1 justify-items-center border border-gray-300 rounded-xl  p-10">
        <span class="w-[50px] h-[50px] rounded-full bg-gray-300 text-xl font-medium flex items-center justify-center"> 1</span>
        <h1 class="text-center font-medium mt-4 ">{{'agentfeatures.title1' |translate}}</h1>
        <p class="mt-6 text-gray-500">
          {{'agentfeatures.subTitle1' |translate}}
        </p>
        <button routerLink="contact" class="btn btn-sm btn-primary text-white  mt-10 ">{{'agentfeatures.button' |translate}}</button>
      </div>
      <div class="w-full  grid grid-cols-1 justify-items-center border border-gray-300 rounded-xl  p-10">
        <span class="w-[50px] h-[50px] rounded-full bg-gray-300 text-xl font-medium flex items-center justify-center">2</span>
        <h1 class="text-center font-medium mt-4 ">{{'agentfeatures.title2' |translate}}</h1>
        <p class="mt-6 text-gray-500">
          {{'agentfeatures.subTitle2' |translate}}
        </p>
        <button routerLink="contact" class="btn btn-sm btn-primary text-white  mt-6 ">{{'agentfeatures.button' |translate}}</button>
      </div>
      <div class="w-full  grid grid-cols-1 justify-items-center border border-gray-300 rounded-xl  p-10 ">
        <span class="w-[50px] h-[50px] rounded-full bg-gray-300 text-xl font-medium flex items-center justify-center">3</span>
        <h1 class="text-center font-medium mt-4 ">{{'agentfeatures.title3' |translate}}</h1>
        <p class="mt-6 text-gray-500">
          {{'agentfeatures.subTitle3' |translate}}
        </p>
        <button routerLink="contact" class="btn btn-sm btn-primary text-white  mt-6 ">{{'agentfeatures.button' |translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="mt-20 w-[90%] mx-auto">
  <h1 class="text-center font-medium text-[#232323] text-4xl w-[50%] mx-auto leading-[60px]" >{{'agentfeatures.title4' |translate}}</h1>
  <div class="w-full rounded-xl  mt-20 h-[200px] bg-[#f7f7f7] flex items-center justify-center p-10">
  <div class="flex flex-col items-center">
    <img class="w-[80px]" src="https://images.ctfassets.net/fyyao66zbb07/2NMhBJeVX8nQivtj4URjfn/1030c702915cc019d15070c28210f161/Conseiller.svg">
    <p class="mt-6 text-gray-500">{{'agentfeatures.subTitle4' |translate}}</p>
    <a routerLink="contact" class="text-blue-500 underline mt-6 hover:cursor-pointer">{{'agentfeatures.link' |translate}}</a>
  </div>
  </div>
</div>


